#progressContainer {
  width: 100%;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

#progressBar {
  width: 0%;
  height: 20px;
  background: #4caf50;
  text-align: center;
  color: white;
  line-height: 20px;
  border-radius: 10px;
}
